.do{
  row-gap:4rem;

}
.don{
  column-gap: 3rem;
}
body{
overflow-x: hidden;
}

.me{
  margin-left: 10%;
}

.first-img{
  width: 6rem;
  margin-left: -10%;
}
.other-img {
background-image: url('../public/images/2.jpeg');
background-position: center;
background-size: cover;
height: 80vh;
}


.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 95%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  margin-top: 10rem;
}
.container {
  position: relative;
}

.container:hover .overlay {
  opacity: 1;
}
.imm{
  height: 24rem;
  width: 100%;
}

